<div id="composeMenuView" class="composeMenuToggle">
    <div class="menuBarMobile">
        <div id="menuReturnButton" class="col-xs-6">
            <p class="logo">
                <span class="glyphicon glyphicon-chevron-left logoIcon returnIcon"></span>
            </p>
        </div>
        <div id="menuBarSend" class="col-xs-4 noSidePadding textCentered">
            <span class="logoCopy xxl-copy">Send</span>
            <div class="menuIcon menuBarIcon menuBarIconText">
                <span class="glyphicon glyphicon-play"></span>
            </div>
        </div>
        <div id="menuBarContextMenu" class="col-xs-2 noRightPadding">
            <div class="menuIcon menuBarIcon menuBarIconRightPadding pull-right">
                <img src="img/small_circles_white.png" class="iconImg menuBarIconImg">
            </div>
        </div>
    </div>
    <div class="menuBarTablet">
        <div id="menuReturnButton" class="col-sm-7 col-md-8">
            <p class="logo">
                <span class="glyphicon glyphicon-chevron-left logoIcon returnIcon"></span>
            </p>
        </div>
        <div id="menuBarSend" class="col-sm-3 col-md-2 textCentered">
            <span class="logoCopy xxl-copy">Send</span>
            <div class="menuIcon menuBarIcon menuBarIconText">
                <span class="glyphicon glyphicon-play"></span>
            </div>
        </div>
        <div id="menuBarSettings" class="col-sm-1 col-md-1">
            <div class="menuIcon menuBarIcon pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </div>
        </div>
        <div id="menuBarAbout" class="col-sm-1 col-md-1">
            <div class="menuIcon menuBarIcon pull-right">
                <span class="glyphicon glyphicon-info-sign"></span>
            </div>
        </div>
    </div>
    <div class="menuBarDesktop">
        <div class="col-lg-10">
            <p class="logo">
                <span class="logoCopy xxl-copy">Project Acorn</span>
            </p>
        </div>
        <div id="menuBarSettings" class="col-lg-1">
            <div class="menuIcon menuBarIcon pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </div>
        </div>
        <div id="menuBarAbout" class="col-lg-1">
            <div class="menuIcon menuBarIcon pull-right">
                <span class="glyphicon glyphicon-info-sign"></span>
            </div>
        </div>
    </div>
</div>