<div class="defaultMenuToggle">
    <div class="menuBarMobile">
        <div id="menuBarHome" class="">
            <div id="menuBarHomeSliderMobile" class="col-xs-6">
                <div class="logo logoDualLine logoAnimate">
                    <span class="glyphicon glyphicon-th-list logoIcon"></span>
                    <span class="logoCopy logoCopyDual lg-copy">Inbox</span>
                    <span class="logoCopy logoCopyDual md-copy">Jason Lunsford</span>
                </div>
            </div>
            <div class="col-xs-2">
                <a href="/compose">
                    <div class="menuIcon menuBarIcon">
                        <span class="glyphicon glyphicon-edit"></span>
                    </div>
                </a>
            </div>
            <div id="menuBarHomeSearch" class="col-xs-2" data-mobile-search="search">
                <div class="menuIcon menuBarIcon menuBarIconRightPadding pull-right">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
            </div>
        </div>
        <div id="menuBarMessage" class="hidden">
            <div class="col-xs-10 noRightPadding">
                <div id="menuBarReturn" class="logo logoReturn regularHover">
                    <span class="glyphicon glyphicon-chevron-left logoIcon returnIcon"></span>
                </div>
            </div>
        </div>
        <div id="menuBarSearch" class="hidden">
            <div class="col-xs-2 noRightPadding" data-mobile-search="exit">
                <div id="menuBarReturn" class="logo logoReturn regularHover">
                    <span class="glyphicon glyphicon-chevron-left logoIcon returnIcon"></span>
                </div>
            </div>
            <div class="col-xs-8 noSidePadding">
                <div class="menuBarSearch">
                    <input type="search"
                           placeholder="Search Inbox"
                           id="menuBarSearch"
                           class="form-control"
                           name="search"
                           data-ng-model="search.$"
                           novalidate />
                </div>
            </div>
        </div>
        <div id="menuBarContextMenu" class="col-xs-2 noRightPadding" data-context-menu>
            <div class="menuIcon menuBarIcon menuBarIconRightPadding pull-right">
                <img src="img/small_circles_white.png" class="iconImg menuBarIconImg">
            </div>
        </div>
        <div id="menuBarContextDropMenu" class="contextDropMenu hidden"></div>
    </div>
    <div class="menuBarTablet">
        <div id="menuBarHomeSliderTablet" class="col-sm-6 col-md-7">
            <div class="logo logoDualLine logoAnimate hidden">
                <span class="glyphicon glyphicon-th-list logoIcon"></span>
                <span class="logoCopy logoCopyDual lg-copy">Inbox</span>
                <span class="logoCopy logoCopyDual md-copy">Jason Lunsford</span>
            </div>
            <div class="logo logoAnimate">
                <span class="glyphicon glyphicon-th-list logoIcon"></span>
                <span class="logoCopy xxl-copy">Mailboxes</span>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 regularHover">
            <a href="/compose">
                <span class="logoCopy xxl-copy">Compose</span>
                <div class="menuIcon menuBarIcon menuBarIconText">
                    <span class="glyphicon glyphicon-edit"></span>
                </div>
            </a>
        </div>
        <div class="col-sm-2 col-md-1">
            <a href="/settings">
                <div class="menuIcon menuBarIcon pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </div>
            </a>
        </div>
        <div class="col-sm-1 col-md-1">
            <a href="/about">
                <div class="menuIcon menuBarIcon pull-right">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </div>
            </a>
        </div>
    </div>
    <div class="menuBarDesktop">
        <div class="col-lg-10">
            <p class="logo">
                <span class="logoCopy xxl-copy">Project Acorn</span>
            </p>
        </div>
        <div class="col-lg-1">
            <a href="/settings">
                <div class="menuIcon menuBarIcon pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </div>
            </a>
        </div>
        <div class="col-lg-1">
            <a href="/about">
                <div class="menuIcon menuBarIcon pull-right">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </div>
            </a>
        </div>
    </div>
</div>