<div id="messageListView" class="col-xs-12 col-lg-10 generalContent messageListToggle">
    <div class="col-xs-12 col-sm-6 col-md-5 messageListMenu">
        <div class="row messageListControlPanel">
            <div class="col-xs-12">
                <input type="search" placeholder="Search Inbox" class="form-control" data-ng-model />
                <div class="messageListButtonBox">

                </div>
            </div>
        </div>
        <div class="row messageListItem">
            <div class="col-xs-1 messageListCheckBoxContainer noRightPadding">
                <span class="coolCheckBox coolCheckBoxChecked"></span>
            </div>
            <div class="col-xs-11 messageListCopy">
                <div class="row">
                    <p class="col-xs-12 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Patrick Rothfuss
                    </p>
                    <p class="col-xs-12 md-copy copyTrim">The Name of the Wind (KingKiller Chronicles)</p>
                    <p class="col-xs-12 md-copy copyTrim">05/02/2014 @ 22:44:38</p>
                </div>
            </div>
        </div>
        <div class="row messageListItem">
            <div class="col-xs-1 messageListCheckBoxContainer noRightPadding">
                <span class="coolCheckBox"></span>
            </div>
            <div class="col-xs-11 messageListCopy">
                <div class="row">
                    <p class="col-xs-12 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Frank Herbert
                    </p>
                    <p class="col-xs-12 md-copy copyTrim">Dune</p>
                    <p class="col-xs-12 md-copy copyTrim">12/22/2013 @ 22:44:38</p>
                </div>
            </div>
        </div>
        <div class="row messageListItem">
            <div class="col-xs-1 messageListCheckBoxContainer noRightPadding">
                <span class="coolCheckBox"></span>
            </div>
            <div class="col-xs-11 messageListCopy">
                <div class="row">
                    <p class="col-xs-12 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Phillip K Dick
                    </p>
                    <p class="col-xs-12 md-copy copyTrim">Do Androids Dream of Electric Sheep?</p>
                    <p class="col-xs-12 md-copy copyTrim">09/29/2012 @ 22:44:38</p>
                </div>
            </div>
        </div>
        <div class="row messageListItem">
            <div class="col-xs-1 messageListCheckBoxContainer noRightPadding">
                <span class="coolCheckBox"></span>
            </div>
            <div class="col-xs-11 messageListCopy">
                <div class="row">
                    <p class="col-xs-12 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Stephen King
                    </p>
                    <p class="col-xs-12 md-copy copyTrim">The Stand</p>
                    <p class="col-xs-12 md-copy copyTrim">07/06/2011 @ 02:34:32</p>
                </div>
            </div>
        </div>
        <div class="row messageListItem">
            <div class="col-xs-1 messageListCheckBoxContainer noRightPadding">
                <span class="coolCheckBox"></span>
            </div>
            <div class="col-xs-11 messageListCopy">
                <div class="row">
                    <p class="col-xs-12 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Neal Stephenson
                    </p>
                    <p class="col-xs-12 md-copy copyTrim">Snow Crash</p>
                    <p class="col-xs-12 md-copy copyTrim">10/14/2007 @ 23:26:15</p>
                </div>
            </div>
        </div>
        <div class="row messageListItem">
            <div class="col-xs-1 messageListCheckBoxContainer noRightPadding">
                <span class="coolCheckBox"></span>
            </div>
            <div class="col-xs-11 messageListCopy">
                <div class="row">
                    <p class="col-xs-12 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Ray Bradbury
                    </p>
                    <p class="col-xs-12 md-copy copyTrim">Fahrenheit 451</p>
                    <p class="col-xs-12 md-copy copyTrim">06/24/2006 @ 08:00:26</p>
                </div>
            </div>
        </div>
        <div class="row messageListItem">
            <div class="col-xs-1 messageListCheckBoxContainer noRightPadding">
                <span class="coolCheckBox"></span>
            </div>
            <div class="col-xs-11 messageListCopy">
                <div class="row">
                    <p class="col-xs-12 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> J.R.R. Tolkein
                    </p>
                    <p class="col-xs-12 md-copy copyTrim">Lord of the Rings</p>
                    <p class="col-xs-12 md-copy copyTrim">05/13/2005 @ 19:02:05</p>
                </div>
            </div>
        </div>
        <div class="row messageListItem">
            <div class="col-xs-1 messageListCheckBoxContainer noRightPadding">
                <span class="coolCheckBox"></span>
            </div>
            <div class="col-xs-11 messageListCopy">
                <div class="row">
                    <p class="col-xs-12 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Anne McCaffrey
                    </p>
                    <p class="col-xs-12 md-copy copyTrim">Dragonflight (Pern)</p>
                    <p class="col-xs-12 md-copy copyTrim">03/09/2005 @ 07:39:25</p>
                </div>
            </div>
        </div>
    </div>
    <div class="messageListContent">
        <div id="messageListControlPanelView" class="row desktopControlPanel">

        </div>
        <div class="row messageListItem messageListCopy">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-1 messageListCheckBoxContainer noRightPadding">
                        <span class="coolCheckBox coolCheckBoxChecked"></span>
                    </div>
                    <p class="col-sm-11 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Patrick Rothfuss
                    </p>
                </div>
            </div>
            <p class="col-sm-6 md-copy copyTrim">The Name of the Wind (KingKiller Chronicles)</p>
            <p class="col-sm-3 md-copy copyTrim">05/02/2014 @ 22:44:38</p>
        </div>
        <div class="row messageListItem messageListCopy">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-1 messageListCheckBoxContainer noRightPadding">
                        <span class="coolCheckBox"></span>
                    </div>
                    <p class="col-sm-11 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Frank Herbert
                    </p>
                </div>
            </div>
            <p class="col-sm-6 md-copy copyTrim">Dune</p>
            <p class="col-sm-3 md-copy copyTrim">12/22/2013 @ 22:44:38</p>
        </div>
        <div class="row messageListItem messageListCopy">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-1 messageListCheckBoxContainer noRightPadding">
                        <span class="coolCheckBox"></span>
                    </div>
                    <p class="col-sm-11 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Phillip K Dick
                    </p>
                </div>
            </div>
            <p class="col-sm-6 md-copy copyTrim">Do Androids Dream of Electric Sheep?</p>
            <p class="col-sm-3 md-copy copyTrim">09/29/2012 @ 22:44:38</p>
        </div>
        <div class="row messageListItem messageListCopy">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-1 messageListCheckBoxContainer noRightPadding">
                        <span class="coolCheckBox"></span>
                    </div>
                    <p class="col-sm-11 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Stephen King
                    </p>
                </div>
            </div>
            <p class="col-sm-6 md-copy copyTrim">The Stand</p>
            <p class="col-sm-3 md-copy copyTrim">07/06/2011 @ 02:34:32</p>
        </div>
        <div class="row messageListItem messageListCopy">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-1 messageListCheckBoxContainer noRightPadding">
                        <span class="coolCheckBox"></span>
                    </div>
                    <p class="col-sm-11 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Neal Stephenson
                    </p>
                </div>
            </div>
            <p class="col-sm-6 md-copy copyTrim">Snow Crash</p>
            <p class="col-sm-3 md-copy copyTrim">10/14/2007 @ 23:26:15</p>
        </div>
        <div class="row messageListItem messageListCopy">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-1 messageListCheckBoxContainer noRightPadding">
                        <span class="coolCheckBox"></span>
                    </div>
                    <p class="col-sm-11 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Ray Bradbury
                    </p>
                </div>
            </div>
            <p class="col-sm-6 md-copy copyTrim">Fahrenheit 451</p>
            <p class="col-sm-3 md-copy copyTrim">06/24/2006 @ 08:00:26</p>
        </div>
        <div class="row messageListItem messageListCopy">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-1 messageListCheckBoxContainer noRightPadding">
                        <span class="coolCheckBox"></span>
                    </div>
                    <p class="col-sm-11 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> J.R.R. Tolkein
                    </p>
                </div>
            </div>
            <p class="col-sm-6 md-copy copyTrim">Lord of the Rings</p>
            <p class="col-sm-3 md-copy copyTrim">05/13/2005 @ 19:02:05</p>
        </div>
        <div class="row messageListItem messageListCopy">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-1 messageListCheckBoxContainer noRightPadding">
                        <span class="coolCheckBox"></span>
                    </div>
                    <p class="col-sm-11 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Anne McCaffrey
                    </p>
                </div>
            </div>
            <p class="col-sm-6 md-copy copyTrim">Dragonflight (Pern)</p>
            <p class="col-sm-3 md-copy copyTrim">03/09/2005 @ 07:39:25</p>
        </div>
        <div class="row messageListItem messageListCopy">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-1 messageListCheckBoxContainer noRightPadding">
                        <span class="coolCheckBox"></span>
                    </div>
                    <p class="col-sm-11 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Patrick Rothfuss
                    </p>
                </div>
            </div>
            <p class="col-sm-6 md-copy copyTrim">The Name of the Wind (KingKiller Chronicles)</p>
            <p class="col-sm-3 md-copy copyTrim">05/02/2014 @ 22:44:38</p>
        </div>
        <div class="row messageListItem messageListCopy">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-1 messageListCheckBoxContainer noRightPadding">
                        <span class="coolCheckBox"></span>
                    </div>
                    <p class="col-sm-11 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Frank Herbert
                    </p>
                </div>
            </div>
            <p class="col-sm-6 md-copy copyTrim">Dune</p>
            <p class="col-sm-3 md-copy copyTrim">12/22/2013 @ 22:44:38</p>
        </div>
        <div class="row messageListItem messageListCopy">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-1 messageListCheckBoxContainer noRightPadding">
                        <span class="coolCheckBox"></span>
                    </div>
                    <p class="col-sm-11 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Phillip K Dick
                    </p>
                </div>
            </div>
            <p class="col-sm-6 md-copy copyTrim">Do Androids Dream of Electric Sheep?</p>
            <p class="col-sm-3 md-copy copyTrim">09/29/2012 @ 22:44:38</p>
        </div>
        <div class="row messageListItem messageListCopy">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-1 messageListCheckBoxContainer noRightPadding">
                        <span class="coolCheckBox"></span>
                    </div>
                    <p class="col-sm-11 md-copy copyTrim">
                        <span class="glyphicon glyphicon-user listIcon"></span> Stephen King
                    </p>
                </div>
            </div>
            <p class="col-sm-6 md-copy copyTrim">The Stand</p>
            <p class="col-sm-3 md-copy copyTrim">07/06/2011 @ 02:34:32</p>
        </div>
    </div>
</div>