<div id="messageMenuView" class="messageMenuToggle">
    <div class="menuBarMobile">
        <div id="menuReturnButton" class="col-xs-10 noRightPadding">
            <p class="logo">
                <span class="glyphicon glyphicon-chevron-left logoIcon returnIcon"></span>
            </p>
        </div>
        <div id="menuBarContextMenu" class="col-xs-2 noRightPadding">
            <div class="menuIcon menuBarIcon menuBarIconRightPadding pull-right">
                <img src="img/small_circles_white.png" class="iconImg menuBarIconImg">
            </div>
        </div>
    </div>
    <div class="menuBarTablet">
        <div id="menuBarSlider" class="col-sm-6 col-md-7">
            <p class="logo logoDualLine logoAnimate">
                <span class="glyphicon glyphicon-th-list logoIcon"></span>
                <span class="logoCopy logoCopyDual lg-copy">Inbox</span>
                <span class="logoCopy logoCopyDual md-copy">Jason Lunsford</span>
            </p>
            <p class="logo logoAnimate hidden">
                <span class="glyphicon glyphicon-th-list logoIcon"></span>
                <span class="logoCopy xxl-copy">Mailboxes</span>
            </p>
        </div>
        <div id="menuBarCompose" class="col-sm-3 col-md-3">
            <span class="logoCopy xxl-copy">Compose</span>
            <div class="menuIcon menuBarIcon menuBarIconText">
                <span class="glyphicon glyphicon-edit"></span>
            </div>
        </div>
        <div id="menuBarSettings" class="col-sm-2 col-md-1">
            <div class="menuIcon menuBarIcon pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </div>
        </div>
        <div id="menuBarAbout" class="col-sm-1 col-md-1">
            <div class="menuIcon menuBarIcon pull-right">
                <span class="glyphicon glyphicon-info-sign"></span>
            </div>
        </div>
    </div>
    <div class="menuBarDesktop">
        <div class="col-lg-10">
            <p class="logo">
                <span class="logoCopy xxl-copy">Project Acorn</span>
            </p>
        </div>
        <div id="menuBarSettings" class="col-lg-1">
            <div class="menuIcon menuBarIcon pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </div>
        </div>
        <div id="menuBarAbout" class="col-lg-1">
            <div class="menuIcon menuBarIcon pull-right">
                <span class="glyphicon glyphicon-info-sign"></span>
            </div>
        </div>
    </div>
</div>