<div class="replyMenuToggle">
    <div class="menuBarMobile">
        <div class="col-xs-2">
            <a href="/">
                <div id="menuBarReturn" class="logo logoReturn regularHover">
                    <span class="glyphicon glyphicon-chevron-left logoIcon returnIcon"></span>
                </div>
            </a>
        </div>
        <div id="menuBarReply" class="col-xs-4 noSidePadding textCentered regularHover">
            <span class="logoCopy xxl-copy">Reply</span>
            <div class="menuIcon menuBarIcon menuBarIconText">
                <span class="glyphicon glyphicon-resize-vertical"></span>
            </div>
        </div>
        <div id="menuBarSend" class="col-xs-4 noSidePadding textCentered regularHover">
            <span class="logoCopy xxl-copy">Send</span>
            <div class="menuIcon menuBarIcon menuBarIconText">
                <span class="glyphicon glyphicon-play"></span>
            </div>
        </div>
        <div id="menuBarContextMenu" class="col-xs-2 noRightPadding">
            <div class="menuIcon menuBarIcon menuBarIconRightPadding pull-right">
                <img src="img/small_circles_white.png" class="iconImg menuBarIconImg">
            </div>
        </div>
    </div>
    <div class="menuBarTablet">
        <div class="col-sm-3 col-md-6">
            <a href="/">
                <div id="menuBarReturn" class="logo logoReturn regularHover">
                    <span class="glyphicon glyphicon-chevron-left logoIcon returnIcon"></span>
                </div>
            </a>
        </div>
        <div id="menuBarReply" class="col-sm-3 col-md-2 textCentered regularHover">
            <span class="logoCopy xxl-copy">Reply</span>
            <div class="menuIcon menuBarIcon menuBarIconText">
                <span class="glyphicon glyphicon-resize-vertical"></span>
            </div>
        </div>
        <div id="menuBarSend" class="col-sm-3 col-md-2 textCentered regularHover">
            <span class="logoCopy xxl-copy">Send</span>
            <div class="menuIcon menuBarIcon menuBarIconText">
                <span class="glyphicon glyphicon-play"></span>
            </div>
        </div>
        <div class="col-sm-2 col-md-1">
            <a href="/settings">
                <div class="menuIcon menuBarIcon pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </div>
            </a>
        </div>
        <div class="col-sm-1 col-md-1">
            <a href="/about">
                <div class="menuIcon menuBarIcon pull-right">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </div>
            </a>
        </div>
    </div>
    <div class="menuBarDesktop">
        <div class="col-lg-10">
            <p class="logo">
                <span class="logoCopy xxl-copy">Project Acorn</span>
            </p>
        </div>
        <div class="col-lg-1">
            <a href="/settings">
                <div class="menuIcon menuBarIcon pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </div>
            </a>
        </div>
        <div class="col-lg-1">
            <a href="/about">
                <div class="menuIcon menuBarIcon pull-right">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </div>
            </a>
        </div>
    </div>
</div>