<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Project Acorn</title>
    <meta name="description" content="">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <!-- Web Font -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,400italic,700italic' type='text/css'>

    <!-- Core CSS -->
    <link rel="stylesheet" type="text/css" href="css/core.css" media="screen, handheld" />
    <link rel="stylesheet" type="text/css" href="css/breakpoints.css" media="screen and (min-width: 768px)" />

    <!-- Load Modernizr -->
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <nav class="menuBar">
        <div id="menuBarContainer" class="container-fluid">
            <div class="row">
                <div class="col-xs-12 menuView">
                    <!-- Create markup for mobile version of header here -->
                </div>
            </div>
        </div>
    </nav>

    <section class="container wrapper">
        <div class="row">
            <div class="col-lg-2 noRightPadding mailBoxToggle">
                <aside id="mailBoxView" class="slideMenu mailBoxMenu">
                    <!-- Mobile Mailbox content -->
                </aside>
                <aside class="row mailBoxContent">
                    <!-- Desktop Mailbox content -->
                </aside>
            </div>
            <div class="col-lg-10 messageListToggle">
                <div id="messageListView" class="slideMenu messageListMenu">
                    <!-- Mobile Message List content -->
                </div>
                <div class="messageListContent">
                    <div id="messageListControlPanelView" class="row desktopControlPanel">

                    </div>
                    <!-- Desktop Message List content -->
                </div>
            </div>
            <div id="messageView" class="col-xs-12 col-lg-10 messageContent hidden">
                <div id="messageControlPanelView" class="row desktopControlPanel">

                </div>
                <p class="message title">The Name of the Wind (KingKiller Chronicles)</p>
                <p class="message titleBorder">
                    <span>Inbox</span>
                </p>
                <hr class="pageContentDivider" />
                <div class="row messageLabel">
                    <div class="contextControls">
                        <div id="contextReplyIcon" class="menuIcon menuIconFont">
                            <span class="glyphicon glyphicon-share-alt"></span>
                        </div>
                        <div id="contextMenuIcon" class="menuIcon menuIconLast">
                            <img src="img/small_circles_gray.png" class="iconImg">
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <div class="personIconBox">
                            <span class="glyphicon glyphicon-user personIcon"></span>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-10 detailBox">
                        <div class="row">
                            <p class="col-xs-12 message messageFrom">Patrick Rothfuss</p>
                            <p class="col-xs-12 message details">patrickrothfuss01@hotmail.com</p>
                            <p class="col-xs-12 message details">05/02/2014 @ 22:44:38</p>
                            <p class="col-xs-12 message details">To: Me (Jason Lunsford), someRandomOther@yahoo.com, thisGuy@google.com</p>
                            <p class="col-xs-12 message details">Cc: thanksforthefish@hotmail.com</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="message replyLine">
                        Gentleman,
                        <br /><br />
                        Cthulhu dolorem Hmirsch R'lyeh chthil ir mglw'nafh ir n'fgikt nargl'wtag fnarh ir wihgn pwe. Cthulhu dolorem Fnarh gahndol n'fgikt wuq'il mglw'nafh mglw'nafh r'loy.
                        <br /><br />
                        Wgah'nagl n'fgikt hmirsch fnarh mglw'nafh wuq'il pwe fhtagn Ph'nglui gahndol.
                        <br /><br />
                        R'lyeh n'fgikt gahndol n'fgikt R'lyeh chthil ir fhtagn Ph'nglui R'lyeh Cthulhu fnarh fhtagn ikt wihgn Ph'nglui wihgn wuq'il chthil r'loy pwe bikt fnarh R'lyeh fnarh mglw'nafh puhg wuq'il puhg fnarh r'loy Ph'nglui bikt ztobkt puhg ir ikt wgah'nagl chthil nargl'wtag r'loy wihgn Ph'nglui n'fgikt pwe n'fgikt r'loy chthil pwe wuq'il n'fgikt bikt mglw'nafh hmirsch wgah'nagl n'fgikt fnarh hmirsch n'fgikt pwe puhg chthil
                        <br /><br />
                        Patrick
                    </p>
               </div>
               <div>
                    <p class="message attachmentMessage uneditableText">No Attachments</p>
               </div>
            </div>
            <div id="composeView" class="col-xs-12 col-lg-10 formContent hidden">
                <div id="composeControlPanelView" class="row desktopControlPanel formControlPanel">

                </div>
                <form id="composeForm"
                      class="col-xs-12 col-lg-10"
                      role="form"
                      data-ng-submit
                      data-ng-show
                      novalidate>
                    <div class="form-group">
                        <div class="alert alert-danger"
                             data-ng-show>
                            <p data-ng-show>The "To" Field is required.</p>
                            <p data-ng-show>The "To" Field contains invalid characters.</p>
                            <p data-ng-show>The "Cc" Field contains invalid characters.</p>
                        </div>
                        <div class="input-group smallBottomMargin">
                            <span class="input-group-addon">To:</span>
                            <input type="email"
                                   class="form-control"
                                   name="to"
                                   data-ng-model
                                   required />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Cc:</span>
                            <input type="email"
                                   class="form-control"
                                   name="cc"
                                   data-ng-model />
                        </div>
                    </div>
                    <div class="formFromAndButtonContainer">
                        <span class="uneditableText pull-left">Me (Jason Lunsford)</span>
                        <button type="button"
                                class="btn btn-sm btn-primary pull-right">Attach Image</button>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-warning"
                             data-ng-show>
                            <p data-ng-show>Did you mean to skip the subject?</p>
                        </div>
                        <input type="text"
                               placeholder="Subject Recommended"
                               class="form-control"
                               name="subject"
                               data-ng-model
                               required />
                    </div>
                    <div class="form-group">
                        <div id="composeTextArea" class="bodyText composeText" contenteditable></div>
                    </div>
                </form>
            </div>
            <div id="replyView" class="col-xs-12 col-lg-10 formContent hidden">
                <div id="replyControlPanelView" class="row desktopControlPanel formControlPanel">

                </div>
                <form id="replyForm"
                      class="col-xs-12 col-lg-10"
                      role="form"
                      data-ng-submit
                      data-ng-show
                      novalidate>
                    <div class="formFromAndButtonContainer">
                        <span class="uneditableText pull-left">Me (Jason Lunsford)</span>
                        <button type="button"
                                class="btn btn-sm btn-primary pull-right">Attach Image</button>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger"
                             data-ng-show>
                            <p data-ng-show>The "To" Field is required.</p>
                            <p data-ng-show>The "To" Field contains invalid characters.</p>
                            <p data-ng-show>The "Cc" Field contains invalid characters.</p>
                        </div>
                        <div class="input-group smallBottomMargin">
                            <span class="input-group-addon">To:</span>
                            <input type="email"
                                   class="form-control"
                                   name="to"
                                   data-ng-model
                                   required />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Cc:</span>
                            <input type="email"
                                   class="form-control"
                                   name="cc"
                                   data-ng-model />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-warning"
                             data-ng-show>
                            <p data-ng-show>Did you mean to skip the subject?</p>
                        </div>
                        <input type="text"
                               placeholder="Subject Recommended"
                               class="form-control"
                               name="subject"
                               data-ng-model
                               required />
                    </div>
                    <div class="form-group">
                        <div id="replyTextArea" class="bodyText replyText" contenteditable>
                            <br />
                            <hr class="messageDivider" />
                            <p class="message messageTimeStamp">
                                05/02/2014 @ 22:44:38, Patrick Rothfuss wrote:
                            </p>
                            <p class="message replyLine">
                                Gentleman,
                                <br /><br />
                                Cthulhu dolorem Hmirsch R'lyeh chthil ir mglw'nafh ir n'fgikt nargl'wtag fnarh ir wihgn pwe. Cthulhu dolorem Fnarh gahndol n'fgikt wuq'il mglw'nafh mglw'nafh r'loy.
                                <br /><br />
                                Wgah'nagl n'fgikt hmirsch fnarh mglw'nafh wuq'il pwe fhtagn Ph'nglui gahndol.
                                <br /><br />
                                R'lyeh n'fgikt gahndol n'fgikt R'lyeh chthil ir fhtagn Ph'nglui R'lyeh Cthulhu fnarh fhtagn ikt wihgn Ph'nglui wihgn wuq'il chthil r'loy pwe bikt fnarh R'lyeh fnarh mglw'nafh puhg wuq'il puhg fnarh r'loy Ph'nglui bikt ztobkt puhg ir ikt wgah'nagl chthil nargl'wtag r'loy wihgn Ph'nglui n'fgikt pwe n'fgikt r'loy chthil pwe wuq'il n'fgikt bikt mglw'nafh hmirsch wgah'nagl n'fgikt fnarh hmirsch n'fgikt pwe puhg chthil
                                <br /><br />
                                Patrick
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div id="settingsView" class="col-xs-12 col-lg-10 settingsContent">
                <div id="settingsControlPanelView" class="row desktopControlPanel">

                </div>
               <!-- application settings view -->
            </div>
        </div>
    </section>

    <!-- Core Scripts (Add Angular & Angular version of bootstrap) -->
    <script type="text/javascript" src="js/vendor/jquery-1.10.1.min.js"></script>

    <!-- Application Script -->
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/pixel.bar.js"></script>
</body>
</html>