/*
	Project Acorn

	Author: Jason Lunsford
	Version: 1.0
	
	-----------------------------------------
	CONTENTS - BREAKPOINTS.CSS
	-----------------------------------------
	1. STRUCTURE
	2. CONTENT

*/

/* 1. STRUCTURE
----------------------------------------------------------------------------------------*/

	@media (min-width: 768px) {
		body:before { content:"tablet"; }

		/* Toggle Display Flag(s) */

		/* End Display Flags */

		.slideMenu {
			border:1px solid #444444;
		}

	}

	@media (min-width: 992px) {
		body:before { content:"desktop"; }

		/* Toggle Display Flag(s) */

		/* End Display Flags */


	}

	@media (min-width: 1200px) {
		body:before { content:"widescreen"; }

		/* Toggle Display Flag(s) */
		.messageListMenu { display:none; }
		.messageListContent { display:block; }
		/* End Display Flags */

		.formContent { padding-top:0px; }

	}


/* 2. CONTENT
----------------------------------------------------------------------------------------*/

	@media (min-width: 768px) {

		/* Toggle Display Flag(s) */
		.messageTitleBorder { display:none; }
		.formFromAndButtonContainer button { display:block; }
		.messageListControlPanel { display:block; }
		/* End Display Flags */

		/* Standard Classes */
		.xs-copy {}
		.sm-copy {}
		.st-copy {}
		.md-copy { font-size:16px; }
		.lg-copy { font-size:22px; }
		.xl-copy { font-size:24px; }
		/* End Standard Classes */	

		.personIconBox { padding:15px 0 13px; }

		.contextControls {
			height:31px;
			width:100px;
		}

		.menuIcon {
			height:31px;
			padding-top:3px;
		}

		.messageListItem { height:80px; }
		.coolCheckBox { height:58px; }
		.listIcon { font-size:14px; }

	}

	@media (min-width: 992px) {

		/* Toggle Display Flag(s) */

		/* End Display Flags */

		/* Standard Classes */
		.xs-copy {}
		.sm-copy {}
		.st-copy {  }
		.md-copy {  }
		.lg-copy {  }
		.xl-copy {  }
		/* End Standard Classes */	

	}

	@media (min-width: 1200px) {

		/* Toggle Display Flag(s) */
		.mailBoxToggle { display:block; }
		.desktopControlPanel {display:block;}
		.contextControls {display:none; }
		/* End Display Flags */

		/* Standard Classes */
		.xs-copy {}
		.sm-copy {}
		.st-copy { font-size:16px; }
		.md-copy { font-size:18px; }
		.lg-copy { font-size:24px; }
		.xl-copy { font-size:32px; }
		/* End Standard Classes */

		/* HR Dividers */
		.pageContentDivider { margin:10px 0px 11px; }
		/* End HR Dividers */

		.messageTitle { margin:10px 0 4px; }
		.personIconBox { padding:22px 0 17px; }

		.bodyText {
			max-height:350px;
			overflow-y:scroll;
		}

	}