/*
	Project Acorn

	Author: Jason Lunsford
	Version: 1.0
	
	-----------------------------------------
	CONTENTS - BREAKPOINTS.CSS
	-----------------------------------------
	1. STRUCTURE
	2. CONTENT

*/

/* 1. STRUCTURE
----------------------------------------------------------------------------------------*/

	@media (min-width: 768px) {
		body:before { content:"tablet"; }

		/* Toggle Display Flag(s) */
		.menuBarMobile  { display:none; }
		.menuBarTablet  { display:block; }

		 .messageMobileToggle { display:none; }
		 .messageTabletToggle { display:block; }
		/* End Display Flags */

		.wrapper {
			border:2px solid #444444;
			border-width:0px 2px 2px;
		}

		.opacityScreen {
			display:block;
			z-index:1000;
		}

		.messageListMenu { border:1px solid #444444; }

	}

	@media (min-width: 992px) {
		body:before { content:"desktop"; }

		/* Toggle Display Flag(s) */

		/* End Display Flags */

	}

	@media (min-width: 1200px) {
		body:before { content:"widescreen"; }

		/* Toggle Display Flag(s) */
		.mailBoxToggle { display:block; }
		.mailBoxMenu { display:none; }

		.messageTabletToggle { display:none; }

		.menuBarTablet  { display:none; }
		.menuBarDesktop { display:block; }

		.opacityScreen { display:none; } /* temp, demo purposes only */

		/* End Display Flags */

		.generalContent { border-width:0px 0px 0px 2px; }

		.formContent { padding-top:0px; }

	}


/* 2. CONTENT
----------------------------------------------------------------------------------------*/

	@media (min-width: 768px) {

		/* Toggle Display Flag(s) */
		.messageTitleBorder { display:none; }
		.formFromAndButtonContainer button { display:block; }
		.messageListControlPanel { display:block; }
		/* End Display Flags */

		/* Standard Classes */
		.xs-copy  {}
		.sm-copy  {}
		.st-copy  {}
		.md-copy  { font-size:16px; }
		.lg-copy  { font-size:22px; }
		.xl-copy  { font-size:24px; }
		.xxl-copy {}
		/* End Standard Classes */

		.logoAnimate { margin-left:6px; }

		.personIconBox { padding:15px 0 13px; }

		.contextControls {
			height:31px;
			width:100px;
		}

		.menuIcon {
			height:31px;
			padding-top:3px;
		}

		.menuBarIcon {
			height:60px;
			padding-top:2px;
		}

		.coolCheckBox { height:58px; }
		.mailBoxCheckBox { height:50px; }
		.listIcon { font-size:14px; }

	}

	@media (min-width: 992px) {

		/* Toggle Display Flag(s) */

		/* End Display Flags */

		/* Standard Classes */
		.xs-copy  {}
		.sm-copy  {}
		.st-copy  {}
		.md-copy  {}
		.lg-copy  {}
		.xl-copy  {}
		.xxl-copy {}
		/* End Standard Classes */	

	}

	@media (min-width: 1200px) {

		/* Toggle Display Flag(s) */
		.desktopControlPanel {display:block;}
		.contextControls {display:none; }
		/* End Display Flags */

		/* Standard Classes */
		.xs-copy  {}
		.sm-copy  {}
		.st-copy  { font-size:16px; }
		.md-copy  { font-size:18px; }
		.lg-copy  { font-size:24px; }
		.xl-copy  { font-size:32px; }
		.xxl-copy { font-size:29px; }
		/* End Standard Classes */

		/* HR Dividers */
		.pageContentDivider { margin:10px 0px 11px; }
		/* End HR Dividers */

		.messageTitle { margin:10px 0 4px; }
		.personIconBox { padding:22px 0 17px; }

		.bodyText {
			max-height:350px;
			overflow-y:scroll;
		}

		.messageListItem { height:60px; }

		.messageListCopy p {
			height:50px;
			line-height:50px;
		}

		.messageListCheckBoxContainer { padding-top:9px; }
		.mailBoxCheckBoxContainer { padding-top:7px; }

		.coolCheckBox {
			height:34px;
			width:12px;
		}

		.mailBoxElement {
			font-size:24px;
			height:34px;
			line-height:34px;
			margin-top:7px;
		}

		.mailBoxSmallElement {
			font-size:16px;
			height:20px;
			line-height:20px;
			margin-top:17px;
		}

		.mailBoxIcon { margin-top:12px; }

	}