/*
	Project Acorn

	Author: Jason Lunsford
	Version: 1.0
	
	-----------------------------------------
	CONTENTS - CORE.CSS
	-----------------------------------------
	1. STRUCTURE
	2. CONTENT

*/

/* 1. STRUCTURE
----------------------------------------------------------------------------------------*/

	/* Flag for JS powered toggling */
	body:before {
		content:"mobile";
		display:block;
		left:-9999px;
		position:absolute;
		top:0px;
	}

	body {
		background-color:#DAEEEF;
		color: #444;
		font-family:'Source Sans Pro', sans-serif;
		padding:0px;
	}

	/****************** 
	 Menu Bar Structure
	 ******************/

	.menuBar {
		background: linear-gradient(to bottom, #222222, #3A3A3A) repeat scroll 0 0 rgba(0, 0, 0, 0);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222222), color-stop(100%, #3A3A3A));
		background: -webkit-linear-gradient(#222222, #3A3A3A);
		border:1px solid transparent;
		border-radius:0px;
		border-width:0 0 1px;
		box-shadow: 0 1px rgba(255, 255, 255, 0.05) inset, 0 0 8px, #3A3A3A;
		height:60px;
		margin:0px;
	}

	.generalMenuBarItem { height:60px; }

	.mailBoxMenuToggle  { display:block; }
	.searchMenuToggle   { display:none; }
	.messageMenuToggle  { display:none; }
	.composeMenuToggle  { display:none; }
	.replyMenuToggle    { display:none; }
	.settingsMenuToggle { display:none; }
	.aboutMenuToggle    { display:none; }

	/* MailBox Menu */
	.mailBoxMenuMobile  { display:block; }
	.mailBoxMenuTablet  { display:none; }
	.mailBoxMenuDesktop { display:none; }

	/****************** 
	 Wrapper Structure
	 ******************/

	.wrapper {
		background-color:#ffffff;
		border:2px solid #444444;
		border-width:0px 0px 2px;
		height:100%;
		position:relative;
	}

	/***************************** 
	 Mailbox Slide Menu and Panel
	 *****************************/

	.mailBoxToggle { display:block; }

	.mailBoxMenu {
		background-color:#ffffff;
		display:none;
		height:100%;
		min-height:500px;
		padding-top:10px;
		position:absolute;
		top:0;
		width:235px;
		z-index:4000;
	}

	.mailBoxContent {
		display:none;
		margin:0px;
	}

	.mailBoxButtonBox {
		height:58px;
		line-height:58px;
		margin-bottom:10px;
		text-align:center;
	}

	.opacityScreen {
		background-color:#000000;
		display:none;
		height:100%;
		left:0px;
		margin:0px;
		min-height:800px;
		opacity:0.65;
		position:absolute;
		top:0px;
		width:100%;
		z-index:3000;
	}

	/***************************** 
	 Message List Menu and Panel
	 *****************************/

	.messageListToggle {
		display:block; 
		position:absolute;
	}

	/* mobile */
	.messageListMenu {
		background-color:#ffffff;
		border:0 none;
		display:block;
		height:100%;
		min-height:500px;
		left:0px;
		margin-top:0px;
		padding-top:10px;
		position:absolute;
		z-index:2000;
	}

	.messageListContent { display:none; } /* desktop */

	/*************** 
	 Regular Panels
	 ***************/

	.generalContent {
		border:2px solid #444444;
		border-width:0px;
		min-height:800px;
		padding-bottom:20px;
	}

	.formContent { padding-top:20px; }

	.messageContent { display:none; } /* temp, demo purposes only */

	/************************** 
	 Desktop Control Panel Bar
	 **************************/

	.desktopControlPanel {
		background-color:#40E0D0;
		border-bottom:2px solid #444444;
		display:none;
		height:56px;
		margin-bottom:10px;
	}

	.formControlPanel { margin-bottom:20px; }

	/******************************** 
	 Message Header & Context Control
	 ********************************/

	.messageHeader {
		margin-bottom:15px;
		position:relative;
	}

	.contextControls {
		background-color:#ffffff;
		display:block;
		height:29px;
		position:absolute;
		margin:0px;
		right:15px;
		top:0px;
		width:21%;
		z-index:1000;
	}


/* 2. CONTENT
----------------------------------------------------------------------------------------*/

	/*********************** 
	 Global Settings
	 ***********************/

	textarea { resize:none; }

	a:hover {
		outline:0;
		text-decoration:none;
	}

	hr { border-color:#9a9a9a; }

	/****************** 
	 Menu Bar Content
	 ******************/

	 .logo {
	 	height:60px;
	 	line-height:60px;
	 	margin:0px;
	 	position:relative;
	 }

	 .logoDualLine {
	 	line-height:1;
	 	padding-bottom:9px;
	 	padding-top:11px;
	 }

	 .logoCopy {
	 	color:#ffffff;
	 	display:inline-block;
	 	margin:0px;
	 	padding-left:5px;
	 }

	 .logoCopyDual {
	 	line-height:1;
	 	vertical-align:top;
	 	width:100%;
	 }

	 .logoIcon {
	 	color:#ffffff;
	 	font-size:15px;
	 	position:absolute;
	 	left:-19px;
	 	top:22px;
	 }

	 .returnIcon {
	 	font-size:24px;
	 	left:-15px;
	 	top:19px;
	 }

	 .logoAnimate { margin-left:0px; }

	 .logoAnimate:hover {
	 	cursor:pointer;
	 	padding-left:5px;
	 }

	 .logoAnimate:hover > .logoIcon { left:-14px; }

	/*********************** 
	 Message List Content
	 ***********************/

	.messageListControlPanel {
		display:none;
		margin-bottom:10px;
	}

	.messageListButtonBox {
		background-color:#40E0D0;
		border:1px solid #444444;
		height:50px;
		margin-top:5px;
		margin-bottom:10px;
	}

	.messageListItem {
		height:80px;
		padding-top:5px;
		padding-bottom:5px;
	}

	.messageListItem:hover {
		background-color:#F5F5DC;
		cursor:pointer;
	}

	.messageListCheckBoxContainer { padding-top:6px; }

	.coolCheckBox {
		background-color:#ffffff;
		border:1px solid #222222;
		display:inline-block;
		height:49px;
		width:60%;
	}

	.coolCheckBoxChecked { background-color:#008000; }

	.messageListIconContainer {
		display:none;
		padding-top:6px;
	}

	.listIcon { font-size:11px; }

	.messageListCopy p {
		height:inherit;
		line-height:inherit;
		margin-bottom:0px;
	}

	/*************************************
	 Mailbox Slide Menu and Panel Content
	 *************************************/

	.mailBoxCheckBox {
		height:50px;
		margin-right:10px;
		width:15px;
	}

	.mailBoxItem {
		border-bottom:1px solid #444444;
		height:60px;
		line-height:50px;
	}

	.mailBoxElement {
		display:inline-block;
		font-size:35px;
		height:50px;
		line-height:50px;
		margin-top:0px;
		vertical-align:top;
	}

	.mailBoxSmallElement {
		font-size:18px;
		height:20px;
		line-height:20px;
		margin-top:21px;
		width:58px;
	}

	.mailBoxIcon {
		font-size:25px;
		margin-top:0px;
		vertical-align:middle;
	}

	.mailBoxCheckBoxContainer {
		display:inline-block;
		margin-right:5px;
		vertical-align:top;
		width:12px;
	}

	.mailBoxButton { margin-top:5px; }

	.mailBoxButtonIcon { margin-left:3px; }

	/*********************** 
	 Message Content
	 ***********************/

	.messageTitle { margin:20px 0px 4px; }

	.messageTitleBorder {
		border-bottom:1px solid;
		display:block;
		height:16px;
		margin:0px;
	}

	.messageTitleBorder span {
		background-color:#ffffff;
		display:block;
		margin:0 auto;
		padding:0 10px;
		width:68px;
	}

	.personIconBox {
		background-color:#444444;
		margin:7px 0px 0px;
		padding:14px 0 10px;
		text-align:center;
	}

	.personIcon {
		color:#ffffff;
		font-size:50px;
	}

	.messageHeader p {
		float:left;
		margin-bottom:0px;
	}

	.attachmentMessage { margin-top:50px; }

	/*********************** 
	 Compose & Reply Content
	 ***********************/

	.formFromAndButtonContainer {
		height:30px;
		line-height:30px;
		margin:0 0 15px;
	}

	.formFromAndButtonContainer button { display:none; }

	.bodyText {
		border:1px solid #cccccc;
		border-radius:4px;
		color:#555555;
		max-height:100%;
		min-height:100px;
		outline:0 none;
		overflow-y:auto;
		padding:6px 12px;
	}

	.bodyText:focus {
		border-color:#66AFE9;
		box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	}

	/************************************* 
	 Settings & General Accordion Content
	 *************************************/

	.accordionHeading {
	 	height:100%;
	 	line-height:40px;
	 	margin-bottom:0px;
	 	padding-top:0px;
	 	padding-bottom:0px;
	}

	.accordionHeadingThick { line-height:normal; }

	.accordionContents { padding-bottom:20px; }

	.accordionAnchor {
		display:block;
		padding:10px 0px;
	}

	.accordionAnchorCore {
		display:block;
		margin:0px;
	}

	/***********************************************
	 Message Label Context & Main Menu Bar Controls
	 ***********************************************/

	.contextControls div { margin:0px; }

	.menuIcon {
		height:29px;
		padding-top:2px;
		text-align:center;
		width:30px;
	}

	.menuIcon:hover { cursor:pointer; }

	.menuBarIcon {
		height:60px;
		line-height:60px;
		padding:0px;
	}

	.menuIconFont { font-size:20px; }

	.iconImg {
		height:25px;
		width:8px;
	}


	/************************************************
	 Standard Classes & Helper Classes & HR Dividers
	 ************************************************/

	 /* Standard Classes */
	 /* st-copy = standard growth, 14px -> 16px */
	 .xs-copy  {}
	 .sm-copy  {}
	 .st-copy  { font-size:14px; }
	 .md-copy  { font-size:14px; }
	 .lg-copy  { font-size:20px; }
	 .xl-copy  { font-size:20px; }
	 .xxl-copy { font-size:26px; }

	/* Helper Classes */
	.uneditableText { color:#9a9a9a; }

	.anchorOff:hover,
	.anchorOff:active,
	.anchorOff:focus {
		color:#9a9a9a;
		cursor:default;
		outline:0 none;
		text-decoration:none;
	}

	.noSidePadding { padding-left:0px; padding-right:0px; }
	.noRightPadding { padding-right:0px; }
	.smallBottomMargin { margin-bottom:5px; }

	.copyTrim {
		overflow:hidden;
		white-space:nowrap;
	}

	/* HR Dividers */
	.pageContentDivider { margin:20px 0px 11px; }
	.messageDivider { margin:20px 0px 5px; }
	.accordionDivider { margin:0px; }